@charset "UTF-8";

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  margin-bottom: 50px;
  margin-top: 50px;
}
p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #FBA848;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #0E7AC4;

}
hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 3px;
  text-align: center;
}
hr.star-light:after,
hr.star-primary:after {
  display: inline-block;
  position: relative;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #18BC9C;
  color: white;
}
hr.star-primary {
  border-color: #0E7AC4;
}
hr.star-primary:after {
  background-color: white;
  color: #0E7AC4;
}
.img-centered {
  margin: 0 auto;
}
.navbar-custom {
  background: #0E7AC4;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
.navbar-custom a:focus {
  outline: none;
}
.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color: #18BC9C;
  outline: none;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #18BC9C;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #18BC9C;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #18BC9C;
  color: white;
  border-color: #18BC9C;
}
@media (min-width: 768px) {
  .navbar-custom {
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
  font-weight: 700;
}
footer .footer-below {
  padding: 10px 0;
  background-color: #0E7AC4;
}
tr.primary {
  background-color: #0E7AC4;
  color: #fff;
}
td.primary {
  background-color: #0E7AC4;
  color: #fff;
}
th.primary {
  background-color: #0E7AC4;
  color: #fff;
}


.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  vertical-align: middle;
}

.form-group {
	margin-bottom: 10px;
}

thead tr th {
	font-size: 16px;
}

.bootstrap-timepicker-hour,
.bootstrap-timepicker-minute,
.separator {
	font-size: 20px;
	font-weight: bold;
}

div.row-padding-top-1 {
	padding-top: 15px;
}

div.row-padding-top-2 {
	padding-top: 30px;
}

div.row-padding-top-3 {
	padding-top: 60px;
}

div.row-padding-top-4 {
	padding-top: 120px;
}


/**************************************************************
 * ログイン
 **************************************************************/

.infomation-line {
	padding: 20px 0px 0px 0px;
	border-bottom: 2px solid #08233E;
	font-size: 30px;
}

.infomation-sub-line {
	border-bottom: 1px dotted #08233E;
	margin-left: 50px;
	margin-right: 50px;
}

section {
	margin-left: 50px;
	margin-right: 50px;
	text-align: left;
}

section header {
	font-weight: normal;
	position: relative;
	clear: both;
}

section header h2 {
	font-size: 25px;
	color: #666;
	font-weight: bold;
	padding-bottom: 15px;
}

section header h2:before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
}

section article header time {
	font-size: 12px;
	color: #594E44;
	position: absolute;
	bottom: 0;
	right: 10px;
}


.modal-body {
	padding-bottom: 30px;
	text-align: center;
}

.modal-header-custom {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.label-finger-infomation {
	font-size:130%;
}

/* 入力項目ラベル*/
label.input-label {
	font-size: 18px;
	color: #0E7AC4;
	vertical-align: middle;
	margin-bottom: 0px;
}

.input-label > .fa-pencil {
	color: rgba(102, 81, 44, 1);
}

/* Reduce icon–text spacing for all menu items */
.navbar-custom .navbar-nav > li > a > i.fa-fw {
    margin-right: 2px !important;
    width: auto !important;    
}

/* Force dropdown menu background to match header */
.navbar-custom .dropdown-menu {
  background-color: #0E7AC4 !important;
  border: none;
}

/* Dropdown text color */
.navbar-custom .dropdown-menu > li > a {
  color: white !important;
}

/* Hover color */
.navbar-custom .dropdown-menu > li > a:hover {
  background-color: #18BC9C !important;
  color: white !important;
}